html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 2;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    /*background: linear-gradient(0deg, rgb(192, 192, 192) 0%, rgba(255,255,255,1) 100%);*/
    color: var(--color-text);
}

*::before,
*::after {
    box-sizing: inherit;
}

h2 {
    position: relative;
    margin: 0 auto 28px;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;
    color: var(--color-text);
    text-align: center;
    width: fit-content;

}


h2::after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: -7px;
    display: block;
    width: 36px;
    height: 1px;
    background: var(--color-text);
}

h3, p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


@media (min-width: 1100px) {
    * {
        font-size: 18px;
    }

    h2 {
        font-size: 36px;
        margin-bottom: 56px;
    }

    h2::after {
        width: 85px;
        bottom: -6px;
        right: -40px;
    }
}