.hero {
    min-height: 180px;
    padding: 24px 50px;
    margin-bottom: 28px;
}

.hero--index {
    background-image: url("../assets/hero-index.jpg");
    background-size: cover;
    background-position: center;
}

.hero--brand {
    background-image: url("../assets/hero-brand.jpg");
    background-size: cover;
    background-position: center;
}

.hero--small-appliances {
    background-image: url("../assets/hero-small.jpg");
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;
    color: var(--color-text);
    max-width: 155px;
    width: fit-content;
    margin: 0 0 24px;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
}

.hero a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 2;
    padding-bottom: 4px;
    border-bottom: 1px solid #ffffff;
}

@media (min-width: 1100px) {
    .hero {
        margin-top: 0;
        min-height: 500px;
        margin-bottom: 72px;
    }

    .hero__container {
        padding: 120px 100px;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero h1 {
        font-size: 48px;
        max-width: unset;
        margin-bottom: 42px;
    }

    .hero a {
        font-size: 18px;

    }
}